<%- include header %>

<form class="form-horizontal" method="post">
<fieldset>
	<legend><h1><%= title %></h1></legend>
	<div class="col-md-8">
		<form role="form">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<label class="control-label" for="itemName">Item name</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="itemName" name="itemName" autofocus="autofocus" required="required" maxlength="25" placeholder="Item name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<label class="control-label" for="keyword">Keyword(s)</label>
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="keyword_1" name="keyword_1" required="required" placeholder="Tag 1">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="keyword_2" name="keyword_2" placeholder="Tag 2">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="keyword_3" name="keyword_3" placeholder="Tag 3">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="keyword_4" name="keyword_4" placeholder="Tag 4">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<label for="category" class="control-label">Category</label>
					</div>
					<div class="col-md-8">
						<select class="form-control" name="category" data-style="btn-success">
							<optgroup label="Entertainment">
								<option>Film</option>
								<option>Music</option>
								<option>Book</option>
							</optgroup>
							<optgroup label="Food">
								<option>Fruit</option>
								<option>Drink</option>
								<option>Biscuit</option>
							</optgroup>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<label class="control-label" for="description">Description</label>
					</div>
					<div class="col-md-8">
						<textarea class="form-control" id="description" name="description" row="5" placeholder="Some description here"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary col-md-2 col-md-offset-4">Add item</button>
			</div>
		</form>
	</div>
</fieldset>
</form>


<%- include footer %>