<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="UTF-8" />
	<title>This is my FYP</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/rateit.css" />


</head>
<body>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/jquery.rateit.min.js"></script>
	
<script>


$(document).ready(function(){
	var title = $("h1").text();
	$(".nav li").removeClass('active');
	
	switch(title){
	case 'Sign up':
		$("#reg_page").addClass('active');
		break;
	case 'Sign in':
		$("#login_page").addClass('active');
		break;
	case 'Add item':
		$("#add_item_page").addClass('active');
		break;
	case 'Create List':
		$("#create_list_page").addClass('active');
		break;
	case 'User Management':
		$("#user_management_page").addClass('active');
		break;
	default:
		$(".nav li").first().addClass('active');
	}

});
</script>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="collapse navbar-collapse" ng-controller="headerController">
		<a class="navbar-brand" href="/">FYP</a>
		<ul class="nav navbar-nav">
			<li>
				<a href="/all-items">Homepage</a>
			</li>
			<% if (user) { %>
			<li id="logout_page">
				<a href="/logout">Logout</a>
			</li>
				<% if (user.userType == "admin") {%>
					<li id="add_item_page">
						<a href="/add-item">Add Item</a>
					</li>
					<li id="create_list_page">
						<a href="/add-list">Create list</a>
					</li>
				<% } %>
				<% if (user.name == "admin") {%>
					<li id="user_management_page">
						<a href="/user-management">User Management</a>
					</li>
				<% } %>
			<% } else { %>
			<li id="login_page">
				<a title="login" href="/login">Login</a>
			</li>
			<li id="reg_page">
				<a title="register" href="/reg">Sign up</a>
			</li>
			<% } %>
		</ul>
		<% if (user) { %>
			<p class="navbar-text navbar-right">
				Signed in as <a href="/user/<%= user.name %>" class="navbar-link"><%= user.name %></a> | <a href="/reset" class="navbar-link">Change Password</a>
			</p>
		<% } %>
	</div>
</nav>

<div id="container" class="container">

<% if (success) { %>
	<div class="alert alert-success" id="success_alert">
		<%= success %>
	</div>
<% } %>
<% if (error) { %>
	<div class="alert alert-danger"  id="error_alert">
		<%= error %>
	</div>
<% } %>